
body {
    background-color: rgb(239, 250, 252);
    font-family:  'Lora', serif;
    font-weight:  10;
}

.img-circle {
    border-radius: 50%;
}

*{     
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 900px;
    margin: 50px auto;
    padding: 45px;
}

h1 {
    color: rgb(24, 97, 180);
}

h2 {
    font-family:  'Lora', serif;
    color: rgb(24, 97, 180);
}

.card {
    background-color: white;
    padding: 100px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 50px;
    text-align: center;
}

.list-inline {
    display: flex;
    justify-content: center;
}

.list-inline i {
    font-size: 30px;
    color: rgb(233, 152, 86);
    padding: 10px;
}

.list-inline i:hover {
    color: grey;
    font-size: 50px;
}

p {
    color: #575F7D;
    font-family:  'Lora', serif;
}

.card a {
    font-family: 'Lora', serif;
    font-size: 16px
}

.follow-me-title {
    font-family:  'Lora', serif;
    color: rgb(53, 125, 184);
}

@media (max-width: 960px) {
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }

